*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  padding: 3px;
  border: 1px grey solid;
}

input:focus{
  border: 1px solid rgba(49, 49, 49, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(49, 49, 49, 0.25);
}

.app{
  width: 600px;
  margin: 50px auto;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 5px;
}

.app-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.app-page{
  display: flex;
}

.app-times{
  color: red;
  cursor: pointer;
}

.app-button{
  border-radius: 5px;
  padding: 2px;
  background-color: green;
  cursor: pointer;
}

.app-button:hover{
  background-color: rgb(0, 239, 0);
}

.buttons{
  display: flex;
  justify-content: center;
}

.button{
  background-color: green;
  border: 1px solid green;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}

.button:hover{
  border: 1px solid black;
  background-color: rgb(0, 239, 0);
  cursor: pointer;
}